name: HACS Action

permissions:
  contents: read

on:
  push:
    branches:
      - main
      - "feature/**"
  pull_request:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  hacs:
    name: HACS Action
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v4"

      - name: Check hacs.json syntax
        run: |
          python -m json.tool hacs.json

      - name: HACS Action
        uses: "hacs/action@main"
        with:
          category: "integration"
        continue-on-error: true  # TODO: remove on hardening